header{
    background-color: radial-gradient(circle, rgb(90, 0, 0) 0%, rgba(0,0,0,1) 100%, rgba(255,255,255,1) 100%);
    background: radial-gradient(circle, rgba(90,0,0,1) 0%, rgba(0,0,0,1) 100%, rgba(255,255,255,1) 100%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
    font-family: 'Arial';
    border-radius: 15px;
    padding: 5px;
}
body{
    background-color: radial-gradient(circle, rgba(121,0,0,1) 0%, rgba(0,0,0,1) 100%, rgba(255,255,255,1) 100%);
    background: radial-gradient(circle, rgba(121,0,0,1) 0%, rgba(0,0,0,1) 100%, rgba(255,255,255,1) 100%);
}
h1{ 
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Arial';
    margin: 15px;
}
h2{ 
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Arial';
    margin: 15px;
}
h3{ 
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Arial';
    margin: 15px;
}
p{ 
    color: rgb(182, 182, 182);
    font-size: 20px;
    font-family: 'Arial';
    font-style: italic;
    margin: 15px;
}
li{
    display: inline;
    float: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    width: 100%;
}
li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: large;
    width: 100%;
    font-size: 25px;
}
li a:hover{
    text-decoration: underline overline;
    color: rgb(255, 255, 255);
}
.Active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
footer
{
color: rgb(255, 255, 255);
font-size: 5px;
font-family: 'Arial';
margin: 2%;
align-content: end center;
text-align: center;
display: inline-block;
float: inline-end;
}
div.info 
{
display: inline-block;
text-align: center;
width: 100%;
}
div.IG 
{
display: inline-block;
width: 33%;
float: left;
}
div.DC 
{
display: inline-block;
width: 33%;
float: center;
}
div.Email 
{
display: inline-block;
width: 33%;
float: right;
}
div.Contact 
{
text-align: center;
width: 100%;
}
div.Form 
{
display: inline-block;
text-align: center;
width: 100%;
}
:link {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
:link:visited {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
form {
    display: inline-block;
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Arial';
    background-color: transparent !important;
    border: 2px solid rgb(110, 110, 110);

}
input, select, textarea {
    width: 25%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    color: black;
    background-color: transparent;
}   
select {
    width: 25%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    color: black;
    background-color: transparent;
}