header{
    background-color: radial-gradient(circle, rgb(90, 0, 0) 0%, rgba(0,0,0,1) 100%, rgba(255,255,255,1) 100%);
    background: radial-gradient(circle, rgba(90,0,0,1) 0%, rgba(0,0,0,1) 100%, rgba(255,255,255,1) 100%);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 10px;
    font-family: 'Arial';
    border-radius: 15px;
    padding: 5px;
}
body{
    background-color: radial-gradient(circle, rgba(121,0,0,1) 0%, rgba(0,0,0,1) 100%, rgba(255,255,255,1) 100%);
    background: radial-gradient(circle, rgba(121,0,0,1) 0%, rgba(0,0,0,1) 100%, rgba(255,255,255,1) 100%);
}
h1{ 
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: 'Arial';
    margin: 15px;
}
h2{ 
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Arial';
    margin: 15px;
}
h3{ 
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Arial';
    margin: 15px;
}
p{ 
    color: rgb(182, 182, 182);
    font-size: 20px;
    font-family: 'Arial';
    font-style: italic;
    margin: 15px;
}
li{
    display: inline;
    float: center;
    padding: 10px;
    width: 100%;
    color: rgb(255, 255, 255);
    border-right: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
}
li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    width: 100%;
    font-size: large;
    font-size: 25px;
}
li a:hover{
    text-decoration: underline overline;
    color: rgb(255, 255, 255);
}
.Active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
div.uvod
{
    display: inline-block;
    float: left;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 15px;
    margin: 25px;
    width: 45%;
    text-align: justify;
}
div.prace
 {
    display: inline-block;
    float: right;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 15px;
    margin: 25px;
    width: 45%;
    text-align: justify;
}
div.ja
 {
    display: inline-block;
    float: left;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 15px;
    margin: 25px;
    width: 45%;
    text-align: justify;
}
div.projects
 {
    display: inline-block;
    float: right;
    border: 2px solid rgb(110, 110, 110);
    border-radius: 15px;
    margin: 25px;
    width: 45%;
    text-align: justify;
}
button.tlja
{
background-color: transparent;
color: rgb(255, 255, 255);
border: 2px solid rgb(110, 110, 110);
font-size: large;
border-radius: 15px;
padding: 5px;
cursor: pointer;
display: inline-block;
float: right;
width: 100%;
}
button.tlprojects
{
background-color: transparent;
color: rgb(255, 255, 255);
border: 2px solid rgb(110, 110, 110);
font-size: large;
border-radius: 15px;
padding: 5px;
cursor: pointer;
display: inline-block;
float: right;
width: 100%;
}
footer
{
color: rgb(255, 255, 255);
font-size: 2px;
font-family: 'Arial';
align-content: end center;
text-align: center;
display: inline-block;
float: inline-end;
}